@-ms-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

html{
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 400px;
}

.container {
    padding-top: 10px;
}

.banner {
    width: 100%;
    padding: 90px 10px;
    text-align: center;
}

@media (max-width : 768px) {
    .banner {
        display: none;
    }
}

.banner h1 {
    font-size: 60px;
}

.architecture {
    background-image: url("../img/architecture.jpg");
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 5px #222;
}

    .architecture small {
        color: white;
    }

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.step .number {
    color: red;
}

.group-divider {
    font-size: 80%;
    color: gray;
    padding-left: 1em;
}


p code{
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li code{
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.brands-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #9d9d9d;
    background: black;
}

.brand{
    margin: 0 10px;
}