@-ms-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    margin-bottom: 5em;
}

.container {
    padding-top: 10px;
}

.banner {
    width: 100%;
    padding: 90px 10px;
    text-align: center;
}

@media (max-width : 768px) {
    .banner {
        display: none;
    }
}

.banner h1 {
    font-size: 60px;
}

.architecture {
    background-image: url("../img/architecture.jpg");
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 5px #222;
}

    .architecture small {
        color: white;
    }

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.step .number {
    color: red;
}
